
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

      <h1 class="text-center display-1" >ITNews portal</h1>
<p class="text-center text-muted">...We are the best choice for the community to deliver any news...</p>
<h3 class="text-center">To create and read news on our server, first you should create an account or sign in already existing one. You can do it via nav bar, by pressing button "Login" or "Register"</h3>