@model Course.ITnews.Domain.Contracts.ViewModels.NewsViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://select2.org/assets/db8d1316d82fbadb18dde3096cf9e671.js"></script>

<h1>Create</h1>

<h4>News</h4>
<hr />

<div class="col-md-12">
    <form asp-action="Create">
        <input asp-for="Id" type="hidden" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Created" type="hidden" value="@DateTime.Now">
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label">Category:</label>
            <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control">
                <option>Choose from existing one</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <p>
                <label asp-for="TagsTitles" class="control-label">Tags:</label>
                <select asp-for="TagsTitles" class="js-example-tokenizer form-control" multiple="multiple" asp-items="Model.Tags"></select>
                <span asp-validation-for="TagsTitles" class="text-danger"></span> </p>
        </div>
        <label asp-for="FullDescription" class="control-label">Enter your full description:</label>
        <textarea id="full-description" style="display: none" placeholder="*Write your text here*" asp-for="FullDescription"></textarea>

        <div class="form-group">
            <label asp-for="ShortDescription" class="control-label">Enter your short description here:</label>
            <textarea asp-for="ShortDescription" class="form-control"></textarea>
            <span asp-validation-for="ShortDescription" class="text-danger"></span>
        </div>
        <pre data-fill-from=".js-code-example-tokenizer"></pre>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript" class="js-code-example-tokenizer">

    $(".js-example-tokenizer").select2({
        tags: true,
        tokenSeparators: [',', ' ']
    })
</script>
<script type="text/javascript">
    var easyMDE = new EasyMDE({
        autoDownloadFontAwesome: true,
        element: document.getElementById('full-description')
    });
</script>
